/**
 * 首页CSS样式表less源代码
 * @author 陈洁 李仁海
 * @Copyright 陈洁 李仁海
 */
@charset "utf-8";
/****** content ******/
.content {
  border-bottom: dotted 1px #bebebe;
  padding-bottom: 10px;
  margin-top: 20px;
}
.slidebox {
  width: 1040px;
  height: 431px;
  margin-bottom: 30px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
}
.slidebox .poster_slide {
  width: 1040px;
  height: 431px;
  position: relative;
  overflow: auto;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px #9e9f9f;
  -moz-box-shadow: 0 5px 10px #9e9f9f;
  box-shadow: 0 5px 10px #9e9f9f;
}
.slidebox .poster_slide ul {
  margin: 0;
}
.slidebox .poster_slide ul li {
  list-style: none;
  float: left;
}
.slidebox .poster_slide ul li img {
  width: 1040px;
  height: 431px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.slidebox #analyze_message {
  background-color: #000;
  opacity: 0.66;
  filter: alpha(opacity=66);
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  height: 20px;
  width: 980px;
  margin-top: -100px;
  position: absolute;
  z-index: 500;
  color: #fff;
  font-size: 22px;
  padding: 30px 30px 30px 30px;
  font-family: "Microsoft Yahei", "黑体", "宋体";
}
.slidebox .carousel-control {
  top: 45%;
}
/******* 三大板块的标题图片 ***********/
.icon {
  height: 69px;
  padding-left: 50px;
  margin-bottom: 14px;
}
.icon .icon_img {
  margin: 22px 0 22px 15px;
  vertical-align: top;
}
/****** login ******/
.login_box {
  background-color: #fff;
  border: 1px solid #dadada;
  min-height: 220px;
  width: 275px;
  margin: 0 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 7px #9e9f9f;
  -moz-box-shadow: 0 2px 7px #9e9f9f;
  box-shadow: 0 2px 7px #9e9f9f;
}
.login_box form {
  padding: 20px;
  margin: 0;
  width: 220px;
}
.login_box input {
  margin-left: 5px;
}
.login_box .login_input {
  height: 28px !important;
  width: 210px;
}
/********** after login ***********/
.user_after {
  margin: 10px;
  padding: 5px;
}
.user_after .user_info .headphoto {
  padding: 2px;
  width: 70px;
  float: left;
}
.user_after .user_info .headphoto img {
  width: 70px;
}
.user_after .user_info .user_info_detail {
  float: right;
  width: 164px;
}
.user_after .user_info .user_info_detail div {
  margin: 1px 0;
  color: #5e8dee;
}
.user_after .user_info .user_info_detail div span {
  float: right;
  font-weight: bold;
  color: #777;
}
.user_after .user_info .user_info_detail .user_name {
  margin-bottom: 6px;
  margin-top: 5px;
}
.user_after .user_info .user_info_detail .user_name a {
  color: #0066a5;
  font-weight: bold;
  font-size: 18px;
  font-family: "Microsoft Yahei", "黑体", "宋体";
}
.user_nav ul {
  padding-left: 0px;
  padding-right: 0px;
  margin: 5px 0px;
}
.user_nav ul li {
  padding: 2px 0;
}
.user_nav ul li a {
  color: #777;
  margin: 0px;
  padding: 7px 0px;
}
.user_nav ul li a i {
  margin: 0 5px !important;
}
.user_nav ul li a:hover {
  color: #08c;
}
.user_button .btn {
  padding: 8px 20px;
  margin-left: 15px;
}
/********** 三大信息框 *********/
.main_content {
  margin: 10px 0 16px 0;
  padding: 0 10px;
}
.main_content .well {
  padding: 10px;
  background: #FEFEFE;
}
.list_box {
  height: 210px;
}
.list_box ol {
  margin: 0px;
}
.list_box ol li {
  list-style: none;
}
.list_box ol li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
.list_box ol li a:hover {
  color: #08c !important;
}
.announcement ol li,
.introduce ol li {
  margin-top: 4px;
}
.announcement ol li:hover,
.introduce ol li:hover {
  color: #2a609f;
}
.announcement ol li:first-child,
.introduce ol li:first-child {
  margin-top: 0;
}
.announcement ol li a,
.introduce ol li a {
  padding: 5px 11px;
  display: block;
}
.announcement ol li a:hover,
.introduce ol li a:hover {
  background-color: #EFEFEF;
  color: #2a609f;
}
/*********** 示例视频 ***********/
.video_example {
  margin: 20px 0 ;
  padding: 20px;
  background-color: #F5F5F5;
}
.video_example h4 {
  margin-top: 0;
  color: #c14545;
  font-size: 26px;
  font-weight: normal;
  font-family: "Microsoft Yahei", "黑体", "宋体";
  margin: auto auto 15px auto;
}
.video_example .videobox {
  width: 605px;
  overflow: hidden;
  position: relative;
  border: 7px solid #fff;
  margin-left: auto;
  margin-right: auto;
}
.video_example .videobox .video_exp_btn img {
  width: 605px;
  height: 348px;
}
.video_example .videobox .caption {
  position: absolute;
  height: 32px;
  padding: 13px 20px 0 20px;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  filter: alpha(opacity=60);
  width: 100%;
  font-family: "Microsoft Yahei", "黑体", "宋体";
  font-size: 20px;
  color: #fff;
}
.video_example .videobox .carousel {
  margin-bottom: 0px;
}
.video_example .videobox .carousel-control {
  top: 50%;
}
/************ 作品展示 *********/
.works_show {
  text-align: center;
  margin: 20px 0 15px 0;
}
.slogan {
  height: 25px;
  width: 665px;
  background-image: url(../img/slogan.png);
  margin: 0px auto 10px auto;
}
/************ 作品展示视频 *********/
.work {
  background-color: #FAFAFA;
  -webkit-box-shadow: 1px 1px 8px #9e9f9f;
  -moz-box-shadow: 1px 1px 8px #9e9f9f;
  box-shadow: 1px 1px 8px #9e9f9f;
  padding-bottom: 8px;
}
.video {
  width: 320px;
  height: 220px;
  float: left;
}
.video .video_pic {
  border: 5px solid #fff;
  width: 310px;
  height: 210px;
}
.video_info {
  padding: 0 5px;
  width: 302px;
  height: 220px;
  float: left;
  margin-left: 13px;
}
.video_info p {
  color: #6D6D6D;
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video_info h3 {
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info {
  margin-top: 5px;
  border-top: 1px solid #BDBDBD;
  padding: 10px 5px 5px 5px;
}
.info .author {
  float: left;
  padding: 5px 8px;
  margin-right: 8px;
  background-color: #f7f7f7;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.info .vote {
  float: right;
  color: #7b7979;
}
.info .vote i {
  color: #940000;
  font-size: 15px;
  margin: 0 2px;
}
.info .poll {
  font-size: 14px;
  color: #940000;
  margin: 0 2px;
}
/******** 排行榜 *********/
.hot_author_box,
.hot_work_box {
  background-color: #fafafa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e5e6e6;
  min-height: 150px;
}
.hot_author_box hr,
.hot_work_box hr {
  margin: 2px;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #FFF;
}
.hot_author_box ul,
.hot_work_box ul {
  margin: 0;
}
.hot_author_box ul li,
.hot_work_box ul li {
  list-style: none;
}
.hot_author_box ul li table,
.hot_work_box ul li table {
  width: 100%;
}
.hot_author_box ul li table .workname,
.hot_work_box ul li table .workname {
  padding-left: 15px;
}
.hot_author_box ul li table .workname a,
.hot_work_box ul li table .workname a {
  color: #646464;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  width: 220px;
}
.hot_author_box ul li table .workauthor,
.hot_work_box ul li table .workauthor {
  color: #bcbcbc;
  margin-right: 25px;
  padding-right: 20px;
  text-align: right;
  font-size: 13px;
}
.hot_author_box .hot_box_title,
.hot_work_box .hot_box_title {
  margin: 10px;
}
.hot_author_box .top_author_headphoto {
  width: 70px;
  height: 70px;
}
.hot_author_box .top_author {
  padding: 8px;
}
.hot_author_box .top_author .author_name {
  color: #121212 !important;
}
.hot_author_box .top_author .author_info {
  margin-left: 83px;
  margin-top: -72px;
}
.hot_author_box .top_author .author_info a {
  display: block;
  color: #707070;
  padding: 2px 0;
}
.hot_author_box .top_author .author_info a span {
  float: right;
}
.hot_author_box .top_author .author_info a span strong {
  color: #d42020;
}
.hot_author_box .hot_author {
  width: 297px;
  margin-left: 5px;
}
.hot_author_box .hot_author .avatar {
  width: 25px;
  height: 25px;
}
.hot_author_box .hot_author img {
  width: 27px;
  height: 27px;
}
.hot_author_box .hot_author .thumb {
  width: 35px;
}
.hot_author_box .hot_author .username {
  width: 40%;
}
.hot_author_box .hot_author .department {
  text-align: right;
  color: #888;
}
.hot_work_box .top_work {
  padding: 8px;
  padding-bottom: 0px;
  height: 140px;
}
.hot_work_box .top_work .video_thumb {
  width: 100px;
  height: 80px;
}
.hot_work_box .top_work .work_descrtion a span {
  float: right;
}
.hot_work_box .top_work .work_descrtion a span strong {
  color: #d42020;
}
.hot_work_box .top_work .work_info {
  font-size: 14px;
  color: #646464;
  margin-top: -75px;
  margin-left: 2px;
}
.hot_work_box .top_work .work_info a {
  color: #707070;
  font-size: 14px;
  padding: 2px 0;
}
.hot_work_box .top_work .work_info .work_name {
  margin-left: 110px;
  font-size: 18px !important;
  color: #000 !important;
  font-family: "Microsoft Yahei", "黑体", "宋体";
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}
.hot_work_box .top_work .work_info .work_descrtion {
  width: 150px;
  margin-left: 110px;
  margin-top: 10px;
}
.hot_work_box .top_work .work_info .work_descrtion a {
  color: #444;
}
.hot_author,
.hot_work {
  padding: 5px 10px;
}
